body{
  padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.jumbotron{
 padding:5px;
 }

hr{
 height:2px;
 background-color:#000;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 85%;
      margin: auto;
 
  }

.navbar-fixed-top .nav {
  padding: 0px;
  background-image:url(images/fire.jpg);
  background-repeat:repeat-x;
}
/*changed the background color*/
.navbar-inverse{
  background-color:#ff1f55;
  
}
.btn{
    background-color:#ff1f55;
    color:#fff;
}
.navbar-inverse  .navbar-nav > li > a{
    color:#fff;
}

.favorite{
  padding:3px 1px;
   color:#fff;
   text-shadow:1px 1px #000;
   font-weight:bold;
}

.navbar-inverse .navbar-nav > .active > a {
  color: #fff;
  background-color: #000;
}

.navbar-inverse  .navbar-nav > li > a:hover{
    background-color:#fff;
    color:#000;
}

.panel-heading{
 color:#f00;
 text-align:center;
 text-shadow: 1px 1px #000;
 font-weight:bolder;
}

 .navbar-fixed-top .navbar-brand {
        padding: 10px 25px;
    }
}

